</main>
  <footer>
    <div id="border"></div>
    <p>Copyright © <%= new Date().getFullYear() %></p>
    <div class="icons">
      <a href="https://www.instagram.com/" class="link">
  
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="https://x.com/?lang=en" class="link">
  
        <i class="fa-brands fa-x-twitter"></i>
      </a>
      <a href="https://www.facebook.com/" class="link">
  
        <i class="fa-brands fa-facebook"></i>
      </a>
    </div>
  </footer>
</body>
</html>