*{
  color: #5e175f;
}
body{
  background-color: #F5F5F5;
}
header nav {
  background-color: #f5cff0;
}
#create-blog-form button{
  background-color: #f5cff0;
}

#edit-blog-form button {
  background-color: #f5cff0;
}